/* Forth-section */

.margin-top {
  margin-top: 4em;
}

.margin-top-lg {
  margin-top: 20em;

  @include respond(tab-port) {
    margin-top: 5em;
  }
}

.location {
  width: 50em;
  height: 35em;
  margin-left: -0.1em;
}

.font-md {
  font-size: 3em;
}

.width-12em {
  width: 12em;
}

/* five-section */

.width-20em {
  width: 20em;
}

.p-top-18em {
  padding-top: 18em;

  @include respond(tab-port) {
    padding-top: 0;
  }
}
