/* Third-section */

/* card-layout */
.card {
  @include space-around-flex;
  margin: 10em;
}

.card-layout {
  width: 309px;
  height: 450px;
  border: 3px solid rgba(255, 255, 255, 0.8);

  border-radius: 4em;
  background: linear-gradient(
    113.48deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.12) 100%
  );
  z-index: 1;

  @include respond(tab-land) {
    width: 300px;
    height: 400px;
    margin-bottom: 5em;
  }

  @include respond(tab-land-m) {
    width: 300px;
    height: 380px;
    margin-bottom: 5em;
  }

  @include respond(tab-port) {
    width: 250px;
    height: 350px;
    margin-bottom: 5em;
  }
}

.card-circle {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  margin: 4em 3em;
  background-size: cover;
  overflow: hidden;

  @include respond(tab-land) {
    width: 23rem;
    height: 23em;
    margin: 5em;
  }

  @include respond(tab-land-m) {
    width: 23em;
    height: 23em;
    margin: 8em;
  }

  @include respond(tab-port) {
    width: 23em;
    height: 23em;
    margin: 5em;
  }
}
